<div class="container" align="center">
  <div class="row">
    <div class="col">
<img src="/assets/img/burger.jpg" height="35%" width="35%" class="image">


<h1>Burgers!</h1>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
   
  	  <p>{{burger_name}}

      <button data-id="{{this.id}}" class="devour" data-devour="{{devoured}}">Devour!</button>
      </p>
     {{/unless}}
  	{{/each}}
</ul>
</div>
<br>

<div class="col">
<h2>Eaten Burgers</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
  	  <p>{{burger_name}}</p>

    {{/if}}
  {{/each}}
</ul>
</div>
</div>
  </div>

  <div class="form-group" align="center">

<h2>Add a Burger</h2>
<form class="create-form">

    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">

  <button type="submit">Add Burger</button>
</form>
  </div>
